#include "menu.h"

IDR_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit", ID_FILE_EXIT
    END
END

IDI_ICON ICON "icon1.ico"



ID_DIALOG DIALOG 0, 0, 230, 200
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_MODALFRAME
CAPTION "History"
BEGIN
    DEFPUSHBUTTON "&Close", ID_BUTTON, 90, 175, 50, 14, WS_TABSTOP
    LTEXT "Score history", IDC_STATIC, 10, 10, 210, 15
    LISTBOX IDC_RESULTS_LIST, 10, 30, 210, 135, LBS_SORT|WS_VSCROLL|WS_TABSTOP
END





